<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="EndpointRedis" value="__EndpointRedis__"
			xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PasswordRedis" value="__PasswordRedis__"
			xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UseSSLRedis" value="__UseSSLRedis__"
			xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlConectCarCND" value="__UrlConectCarCND__"
			xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ClientNameRedis" value="__ClientNameRedis__"
			xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="false">
    <targets>
      <target name="asyncDataBase" xsi:type="AsyncWrapper" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <target name="database" xsi:type="Database">
          <connectionString>
            Data Source=__asyncDataBase__
          </connectionString>
          <commandText>
            INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception],[ServiceName]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception, @servicename);
          </commandText>
          <parameter name="@log_date" layout="${date}" />
          <parameter name="@thread" layout="${threadid}" />
          <parameter name="@log_level" layout="${level}" />
          <parameter name="@logger" layout="${Logger}" />
          <parameter name="@message" layout="${message}" />
          <parameter name="@exception" layout="${exception:format=toString,Data}" />
          <parameter name="@servicename" layout="ProcessadorPassagensPendentesActor" />
        </target>
      </target>
      <target name="file" xsi:type="File" layout="${longdate} ${logger} [${level}] ${message} ${exception:format=toString}" fileName="${basedir}/logs/logfile.log" archiveFileName="${basedir}/logs/archives/log.{#####}.txt" archiveAboveSize="102400" archiveNumbering="Sequence" concurrentWrites="true" keepFileOpen="false" encoding="iso-8859-2" />
    </targets>
    <rules>
      <logger name="*" minlevel="__writeasync__" writeTo="asyncDataBase" xdt:Transform="Replace" xdt:Locator="Match(writeTo)"/>
      <logger name="*" minlevel="__writefile__" writeTo="file" xdt:Transform="Replace" xdt:Locator="Match(writeTo)"/>
    </rules>
  </nlog>
  <servicebus>
    <Connections>
      <ServiceBusConnection name="TransacoesServiceBus"
			serviceName="__ServiceBusName__" keyName="RootManageSharedAccessKey" keyValue="__ServiceBusKey__"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </Connections>
  </servicebus>
  <connectionStrings>
    <add name="ConectSysConnStr"
			connectionString="Data Source=__ConectSysConnStr__" providerName="System.Data.SqlClient"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ConectSysReadOnlyConnStr"
			connectionString="Data Source=__ConectSysReadOnlyConnStr__" providerName="System.Data.SqlClient"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="MensageriaConnStr"
			connectionString="Data Source=__MensageriaConnStr__" providerName="System.Data.SqlClient"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />    
  </system.web>
</configuration>