<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <servicebus>
    <Connections>
      <ServiceBusConnection name="TransacoesServiceBus"
			serviceName="__ServiceBusName__" keyName="RootManageSharedAccessKey" keyValue="__ServiceBusKey__"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </Connections>
  </servicebus>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="false">
    <targets>
      <target name="asyncDataBase" xsi:type="AsyncWrapper" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <target name="database" xsi:type="Database">

          <!--<connectionString>        
          Data Source=vm-cs-r1910.westus.cloudapp.azure.com,1433;Initial Catalog=Conectcar1910;Persist Security Info=True;User ID=conectsys;Password=P2ssw0rd
        </connectionString>-->

          <connectionString>
            Data Source=__asyncDataBase__
          </connectionString>
          <commandText>
            INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception],[ServiceName]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception, @servicename);
          </commandText>
          <parameter name="@log_date" layout="${date}" />
          <parameter name="@thread" layout="${threadid}" />
          <parameter name="@log_level" layout="${level}" />
          <parameter name="@logger" layout="${Logger}" />
          <parameter name="@message" layout="${message}" />
          <parameter name="@exception" layout="${exception:format=toString,Data}" />
          <parameter name="@servicename" layout="GeradorPassagensPendentesBatch" />
        </target>
      </target>
    </targets>
  </nlog>
  <connectionStrings>
    <add name="ConectSysConnStr"
			connectionString="Data Source=__ConectSysConnStr__" providerName="System.Data.SqlClient"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ConectSysReadOnlyConnStr"
			connectionString="Data Source=__ConectSysReadOnlyConnStr__" providerName="System.Data.SqlClient"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="MensageriaConnStr"
			connectionString="Data Source=__MensageriaConnStr__" providerName="System.Data.SqlClient"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://[your namespace].servicebus.windows.net;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=[your secret]" />
    <add key="EndpointRedis" value="__EndpointRedis__"
			xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PasswordRedis" value="__PasswordRedis__"
			xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UseSSLRedis" value="__UseSSLRedis__"
			xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UrlConectCarCND" value="__UrlConectCarCND__"
			xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ClientNameRedis" value="__ClientNameRedis__"
			xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

</configuration>